[buildout]
parts =
    supervisor
    metabase-jar
    metabase-instance
allow-picked-versions = false

[settings]
metabase-port = 3000
database-type = postgres
database-name = metabase
database-host = localhost
database-port = 5432
database-user = metabase
database-password = metabase

[metabase-jar]
recipe = hexagonit.recipe.download
url = https://downloads.metabase.com/v0.34.3/metabase.jar
download-only = true

[metabase-instance]
recipe = collective.recipe.template
input = ${buildout:directory}/templates/metabase.tmpl
output = ${buildout:directory}/bin/metabase
mode = 755

[supervisor]
recipe = collective.recipe.supervisor
plugins = superlance
http-socket = unix
file = ${buildout:directory}/var/supervisord.sock
programs =
    100 metabase ${buildout:directory}/bin/metabase [console] ${buildout:directory}/parts/metabase-jar true

[versions]
collective.recipe.supervisor = 1.0.0
collective.recipe.template = 2.1
hexagonit.recipe.download = 1.7.1
superlance = 1.0.0
zc.recipe.egg = 2.0.7

# Required by:
# superlance==1.0.0
supervisor = 4.1.0
