#!/usr/bin/env bash
export MB_JETTY_PORT=${settings:metabase-port}
export MB_DB_TYPE=${settings:database-type}
export MB_DB_DBNAME=${settings:database-name}
export MB_DB_HOST=${settings:database-host}
export MB_DB_PORT=${settings:database-port}
export MB_DB_USER=${settings:database-user}
export MB_DB_PASS=${settings:database-password}
java -jar ${metabase-jar:location}/metabase.jar $@
